.certify {
    width: 450px;
    height: 450px;
    color: white;
}
a {text-decoration: none;}
.title {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    padding-bottom: 6%;
}

body {
    margin: 0;
    font-family: 'ubuntu light';
    text-align: center;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 0;
    background-color: black;
    color : white;
}
.nav-item {
    margin: 0 25px;
    font-family: 'ubuntu light';
    display: inline-block;
}
.title-heading {
    font-size: 85px;
    font-family: 'ubuntu Regular';
    color: 	rgba(255, 0, 0, 0.856);
}
.products-head {
    font-size: 60px;
    font-family: 'ubuntu regular';
}
.product-content {
    margin: auto;
}
.prod1 {
    display: inline-block;
    width: 50%;
    height: 30%;
    text-align: center;
}
span {
    color: white;
}
.products2 {
    display		: inline-block;
    margin: 10px 30px;
	width		: 300px;
	height		: 300px;
}
img {
	width	: 100%;
	height	: 100%;
}
.footer {
	display		: inline-block;
	padding		: 15px 0 30px 0;
    margin-top: 30px;
	width		: 100%;
	text-align	: center;
	background	: #B3E8E5;
	}
	
	.fa {
	padding 		: 15px 30px;
	color		    : white;
	font-size	    : 20px;
	margin		    : 0 10px;
	border-radius	: 15px;
	transition  	: 0.3s;
	}
	.fa-facebook {
	background: #3b5998;
	}
    
	.fa-instagram {
	background: #db3236;
	}
	.fa-yahoo {
	background: #430297;
	}
	.fa-youtube {
	background: #FF0000;
	}
	.fa-linkedin {
	background: #007bb5;
	}
	.fa-skype {
	background: #00aff0;
	}
	.fa:hover {opacity: 0.7; cursor: pointer; padding-left: 40px; padding-right: 40px; transition: 0.3s;}
    .prod-price:hover {opacity: 0.7; cursor: pointer; transition: 0.3s;}

.prod-price {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 20px;
    font-size: 20px;
    border-radius: 20px;
    transition: 0.5s;
    border: solid;
    border-width: 1px;
}
.prod-price:hover {
    background-color: white;
    color: red;
    border: solid;
    border-width: 1px;
}

.blopper {
    margin: 30px;
    width: 450px;
    height: 450px;
}
